src/main/app/virtual-account-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<spring:beans>
		<spring:bean id="VirtualAccountMessageServiceImpl"
			class="org.bellatrix.process.VirtualAccountServiceImpl" />
	</spring:beans>

	<flow name="virtualAccountFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="ws/virtualaccounts" doc:name="HTTP" />
		<cxf:jaxws-service serviceClass="org.bellatrix.services.VirtualAccount"
			doc:name="CXF" />
		<vm:outbound-endpoint exchange-pattern="one-way"
			connector-ref="Access_Log_VM" path="request.access.log" doc:name="VM">
			<set-property propertyName="trxType"
				value="#[message.inboundProperties.'soapaction']" />
		</vm:outbound-endpoint>
		<pooled-component>
			<spring-object bean="VirtualAccountMessageServiceImpl" />
		</pooled-component>
		<vm:outbound-endpoint exchange-pattern="one-way"
			connector-ref="Access_Log_VM" path="response.access.log" doc:name="VM">
			<set-property propertyName="trxType"
				value="#[message.inboundProperties.'soapaction']" />
		</vm:outbound-endpoint>
	</flow>

	<flow name="virtualAccountNotificationFlow">
		<vm:inbound-endpoint connector-ref="Notification_VM"
			exchange-pattern="one-way" path="va.notification" doc:name="VM" />
		<logger level="INFO"
			message="[VA Notification : #[message.inboundProperties.'NOTIFICATION_ORIGIN']/#[payload]]"
			doc:name="Logger" />
		<set-property propertyName="requestAuth"
			value="#[message.inboundProperties.'requestAuth']" doc:name="Property" />
		<jms:outbound-endpoint connector-ref="Active_MQ"
			queue="notification.va" doc:name="JMS" />
	</flow>

</mule>
